/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Poppins', sans-serif;
}
body {
 /* You can change this to any font you prefer */
  margin: 0;
  padding: 0;
}
.registration-form input {
  border: 1px solid red !important; /* test stil */
}
/* Stil za Error (Crveno) */
.snackbar-error {
  --mdc-snackbar-container-color: #f44336;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* Stil za Success (Zeleno) */
.snackbar-success {
  --mdc-snackbar-container-color: #4caf50;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
  font-weight: 500;
  border-radius: 8px;
}

/* Stil za Info (Plavo) */
.snackbar-info {
  --mdc-snackbar-container-color: #2196f3;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
  font-weight: 500;
  border-radius: 8px;
}

/* Centriranje cijelog sadržaja unutar dijaloga */
.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 8px !important;
  padding: 24px !important;
  text-align: center !important;
}

/* Naslov "Are you sure?" */
.mat-mdc-dialog-title {
  justify-content: center !important;
  font-family: 'Segoe UI', Roboto, sans-serif !important;
  font-size: 28px !important;
  font-weight: 600 !important;
  color: #555 !important;
  margin-bottom: 10px !important;
}

/* Opisni tekst ispod naslova */
.mat-mdc-dialog-content {
  font-size: 14px !important;
  color: #999 !important;
  line-height: 1.5 !important;
  padding: 0 20px !important;
  overflow: hidden !important; /* Sprječava scrollbar ako je tekst kratak */
}
