/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Arial', sans-serif; /* You can change this to any font you prefer */
  margin: 0;
  padding: 0;
}
.registration-form input {
  border: 1px solid red !important; /* test stil */
}
/* Stil za Error (Crveno) */
.snackbar-error {
  --mdc-snackbar-container-color: #f44336;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* Stil za Success (Zeleno) */
.snackbar-success {
  --mdc-snackbar-container-color: #4caf50;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
  font-weight: 500;
  border-radius: 8px;
}

/* Stil za Info (Plavo) */
.snackbar-info {
  --mdc-snackbar-container-color: #2196f3;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
  font-weight: 500;
  border-radius: 8px;
}