/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Arial', sans-serif; /* You can change this to any font you prefer */
  margin: 0;
  padding: 0;
}
