<div class="header-container">
  <h2 class="page-title">Blog Management</h2>

  <!-- Button to create a new blog post aligned to the right -->
  <div class="button-container">
    <button class = "add" color="primary" mat-raised-button (click)="openBlogPostForm($event, undefined)" matTooltip="New Blog Post">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<!-- Search bar for filtering blogs -->
<div class="search-container">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input (keyup)="applyFilter($event)" matInput placeholder="Search blogs">
  </mat-form-field>

</div>

<div *ngIf="dataSource.data.length === 0" class="no-data">
  <p>No blogs to display.</p>
</div>

<table mat-table [dataSource]="dataSource!" class="mat-elevation-z8">

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef >Title</mat-header-cell>
    <mat-cell *matCellDef="let blog">{{ blog.title }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="authorName">
    <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
    <mat-cell *matCellDef="let blog">{{ blog.authorName }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="publishedTime">
    <mat-header-cell *matHeaderCellDef>Published Time</mat-header-cell>
    <mat-cell *matCellDef="let blog">{{ blog.publishedTime | date:'short' }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="isPublished">
    <mat-header-cell *matHeaderCellDef>Published</mat-header-cell>
    <mat-cell *matCellDef="let blog">{{ blog.isPublished ? 'Yes' : 'No' }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="active">
    <mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
    <mat-cell *matCellDef="let blog">{{ blog.active ? 'Yes' : 'No' }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let blog">
       Using flexbox to align buttons in the same row
      <div class="action-buttons">
        <button color="success" mat-button (click)="publish(blog.id, $event)" matTooltip="{{ blog.isPublished ? 'Unpublish' : 'Publish' }}" >
          <mat-icon>{{ blog.isPublished ? 'publish' : 'pause_circle_filled' }}</mat-icon>
        </button>
        <button color="primary" mat-button (click)="openBlogPostForm($event, blog.id)" matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button color="warning" mat-button (click)="deactivate(blog.id, $event)" matTooltip="{{ blog.active ? 'Deactivate' : 'Activate' }}">
          <mat-icon>{{ blog.active ? 'block' : 'check_circle' }}</mat-icon>
        </button>
        <button color="warn" mat-button (click)="openMyConfirmDialog(blog.id, $event)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBlogModal(row.id)"></mat-row>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
