/* Container to hold title and button in the same row */
.header-container {
  display: flex;
  justify-content: space-between; /* Distribute space between title and button */
  align-items: center; /* Vertically align items */
  padding: 20px;
}

/* Title Styling */
.page-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0; /* Remove default margin */
  color: #333; /* Dark color for the title */
}

/* Button Styling */
button{
  padding: 0 !important;
  border-radius: 10%;
  font-size: 12px;
  border: 1px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
  min-width: 44px;
  height: 30px;
}

button.mat-raised-button{
  font-size: 14px;
  font-weight: bold;
}

mat-icon {
  font-size: 16px; /* Postavite željenu veličinu ikone */
  margin-right: 0 !important;
}
.add mat-icon{
  margin-left: 0;
}

/* Custom styling for primary button */
button[color="primary"] {
  background-color: #007bff; /* Blue background */
  color: white;
  margin-left: 5px;
}

button[color="primary"]:hover {
  background-color: #0056b3; /* Darker blue on hover */
  border-color: #0056b3; /* Change border to match the hover color */
}

/* Optional custom styling for warn button (if applicable) */
button[color="warn"] {
  background-color: #f44336; /* Red background */
  color: white;
  margin-left: 5px;
}

button[color="warn"]:hover {
  background-color: #d32f2f; /* Darker red on hover */
  border-color: #d32f2f; /* Change border to match the hover color */
}
/* Warning button (Orange) */
button[color="warning"] {
  background-color: #ff9800; /* Orange background */
  color: white;
  margin-left: 5px;
}

button[color="warning"]:hover {
  background-color: #f57c00; /* Darker orange on hover */
  border-color: #f57c00; /* Change border to match the hover color */
  margin-left: 5px;
}

/* Success button (Green) */
button[color="success"] {
  background-color: #4caf50; /* Green background */
  color: white;
  margin-left: 5px;
}

button[color="success"]:hover {
  background-color: #388e3c; /* Darker green on hover */
  border-color: #388e3c; /* Change border to match the hover color */
}
/* Styling for the search bar */
.search-container {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 100%;
}

mat-form-field {
  width: 95%;
}

mat-label {
  font-size: 1rem;
  color: #333;
}

input {
  font-size: 1rem;
  padding: 10px;
  background-color: #f9f9f9; /* Light gray background */
  border-radius: 4px;
  border: 1px solid #ccc; /* Gray border */
}

input:focus {
  border-color: #007bff; /* Blue border on focus */
  outline: none;
}

/* No data message */
.no-data {
  text-align: center;
  font-size: 1.2rem;
  color: #999; /* Light gray text */
  padding: 20px;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

mat-header-row, mat-row {
  text-align: left;
  font-size: 1rem;
  color: #333;
}

/* Header cell styles */
mat-header-row {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Row styles */
mat-row:nth-child(odd) {
  background-color: #ffffff;
}

mat-row:nth-child(even) {
  background-color: #f2f2f2;
}

.mat-column-active, .mat-column-isPublished {
  max-width: 150px; /* Adjust the value as needed */
}

.mat-column-publishedTime, .mat-column-authorName {
  max-width: 250px; /* Adjust the value as needed */
}

mat-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

mat-row:hover {
  background-color: #e0e0e0;;
}

mat-cell button {
  cursor: pointer;
}

/* Pagination styling */
mat-paginator {
  background-color: #f1f1f1; /* Light gray background for paginator */
  border-top: 1px solid #ccc; /* Border at the top of paginator */
  padding: 10px;
  display: flex;
  justify-content: center;
}
