/* Stil za dijalog i karticu */
.blog-form-card {
  padding: 20px;
  width: 100%; /* Osigurava da kartica popunjava širinu dijaloga */
  max-width: 800px; /* Maksimalna širina */
  margin: 0 auto;
}

.uploaded-image img {
  max-width: 100%; /* Osigurava da slika ne prelazi širinu roditeljskog elementa */
  max-height: 400px; /* Maksimalna visina slike */
  object-fit: cover; /* Održava proporcije slike i prilagođava je okviru */
  border-radius: 8px;
  margin-top: 20px;
}

/* Stil za ulaznu formu */
.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  width: 48%;
}

/* Dodatno stilizovanje za upload sekciju */
.photo-upload {
  margin-top: 20px;
}

.photo-upload input {
  width: 100%;
}
