<div class="card-container" infiniteScroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance" (scrolled)="onScroll()">
  <div class="card" *ngFor="let blog of blogs" (click)="openBlog(blog.id)">
    <div class="card-image-container">
      <img [src]="blog.image" alt="Blog Image" class="card-image">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ blog.title }}</h5>
      <p class="card-author">By {{ blog.author }}</p>
      <p class="card-date">{{ blog.publishedDate | date: 'short' }}</p>
    </div>
  </div>
</div>
