<div *ngIf="blog" class="blog-detail">
  <div class="rating">
    <span *ngIf="averageRating !== null">⭐ {{ averageRating.toFixed(1) }}</span>
  </div>
  <h2>{{ blog.title }}</h2>

  <div class="image-container">
    <img *ngIf="blog.image" [src]="'data:image/jpeg;base64,' + blog.image" alt="Blog Image" class="blog-image">
  </div>

  <div class="content">
    <p>{{ blog.content }}</p>
  </div>

  <div class="author-info">
    <p><strong>Author:</strong> {{ blog.authorName }}</p>
    <p><strong>Published on:</strong> {{ blog.publishedTime | date: 'short' }}</p>
  </div>

  <div class="star-rating">
      <span *ngFor="let star of stars; let i = index" (click)="ratePost(i + 1)" [class.filled]="i < currentRating">
        &#9733;
      </span>
  </div>
</div>

<app-blog-comments [blogPostId]="blogId"></app-blog-comments>

