<div class="home-container">
  <section class="hero">
    <div class="hero-content">
      <h1>Your One-Stop Shop for <span class="highlight">Premium Parts</span></h1>
      <p>Enhance your vehicle's performance with our high-quality components and accessories.</p>
<button  type="button"  routerLink="/products" class="main-btn">Browse Shop</button>
    </div>
  </section>

<section class="features">
  <div class="feature-card">
    <div class="icon">
      <span class="material-symbols-outlined">local_shipping</span>
    </div>
    <h3>Fast Shipping</h3>
    <p>Delivery to your doorstep within 48 hours.</p>
  </div>

  <div class="feature-card">
    <div class="icon">
      <span class="material-symbols-outlined">verified</span>
    </div>
    <h3>Premium Quality</h3>
    <p>Only certified parts from trusted brands.</p>
  </div>

  <div class="feature-card">
    <div class="icon">
      <span class="material-symbols-outlined">support_agent</span>
    </div>
    <h3>Expert Support</h3>
    <p>Professional advice for every car model.</p>
  </div>
</section>
</div>