<h2>Resetovanje lozinke</h2>

<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="password">Nova lozinka:</label>
    <input type="password" id="password" formControlName="password" />
   <div *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched" class="error-message">
  <span *ngIf="resetForm.get('password')?.errors?.['required']">Lozinka je obavezna.</span>
  <span *ngIf="resetForm.get('password')?.errors?.['minlength']">Lozinka mora imati najmanje 8 karaktera.</span>

  <span *ngIf="resetForm.get('password')?.errors?.['pattern']">
    Lozinka mora sadržavati barem jedno veliko slovo, jedno malo slovo i jedan broj.
  </span>
</div>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Potvrdi lozinku:</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword" />
    <div *ngIf="resetForm.errors?.['passwordMismatch'] && resetForm.get('confirmPassword')?.touched" class="error">
      Lozinke se ne podudaraju.
    </div>
  </div>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

  <button type="submit" [disabled]="resetForm.invalid">Resetuj lozinku</button>
</form>

