<div class="auth-container">
  <div class="auth-card">
    <h2>Reset password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <label for="email">Enter your email:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        [ngClass]="{'is-invalid': submitted && f['email'].errors}"
      />
      <div *ngIf="submitted && f['email'].errors" class="error-message">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
        <div *ngIf="f['email'].errors['email']">Invalid email format</div>
      </div>

      <button type="submit">Send link for reset</button>
    </form>
  </div>
</div>
