<!-- Search bar -->
<div class="search-container">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search blogs</mat-label>
    <input matInput placeholder="Search blogs" (keyup)="applyFilter($event)">
  </mat-form-field>
</div>

<!-- Blog cards -->
<div
  class="card-container"
  infiniteScroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollUpDistance"
  (scrolled)="onScroll()"
>
  <div
    class="card"
    *ngFor="let blog of blogs"
    (click)="openBlog(blog.id)"
  >
    <div class="card-image-container" *ngIf="blog.image">
      <img [src]="blog.image" alt="Blog Image" class="card-image">
    </div>

    <div class="card-body">
      <h5 class="card-title">{{ blog.title }}</h5>
      <p class="card-author">By {{ blog.authorName }}</p>
      <p class="card-date">{{ blog.publishedDate | date:'short' }}</p>
    </div>
  </div>
</div>
