<div class="cart-sidebar">
  <h3>Your cart</h3>

  <!-- Lista proizvoda -->
  <ul class="cart-items">
    <li class="cart-item" *ngFor="let item of cartItems">
      <img 
        *ngIf="item.imageUrl" 
        [src]="'http://localhost:7000' + item.imageUrl" 
        alt="{{ item.productName }}" 
        class="cart-item-image" 
      />
      <div class="cart-item-details">
        <span class="cart-item-name">{{ item.productName }}</span>
        <div class="quantity-controls">
          <button 
            class="quantity-button decrease" 
            (click)="decreaseQuantity(item)"
            [disabled]="item.quantity === 1"
          >-</button>
          <span class="cart-item-quantity">{{ item.quantity }}</span>
          <button 
            class="quantity-button increase" 
            (click)="increaseQuantity(item)"
          >+</button>
        </div>
        <span class="cart-item-price">{{ item.quantity }} x {{ item.price | currency:'BAM' }}</span>
      </div>
      <button class="remove-item-button" (click)="removeItem(item)">X</button>
    </li>
  </ul>

  <div class="cart-total" *ngIf="cartItems && cartItems.length > 0">
    <span>Total:</span>
    <span class="total-price">{{ getTotalPrice() | currency:'BAM' }}</span>
  </div>

  <div class="cart-actions">
    <button class="clear-cart-button" (click)="clearCart()">Clear cart</button>
    <button class="go-to-cart-btn" (click)="goToCart()">Go to cart</button>
  </div>
</div>
