<div [formGroup]="formGroup">

  <mat-form-field appearance="outline" class="full-width">

    <mat-label *ngIf="myLabel">
      {{ myLabel }}
    </mat-label>

    <input
      matInput
      [id]="myId"
      [type]="myType"
      [placeholder]="myPlaceholder"
      [formControl]="formControl"
    />

    <mat-error *ngIf="formControl?.invalid && formControl?.touched">
      <ng-container *ngFor="let error of getErrorKeys(formControl.errors)">
        {{ getErrorMessage(error, formControl.errors?.[error]) }}
      </ng-container>
    </mat-error>

  </mat-form-field>

</div>
