button[color="warn"] {
  background-color: #f44336; /* Red background */
  color: white;
  margin-left: 5px;
}

button[color="warn"]:hover {
  background-color: #d32f2f; /* Darker red on hover */
  border-color: #d32f2f; /* Change border to match the hover color */
}
