<nav class="navbar">
  <ul class="main-menu">
    <!-- Stavke na lijevoj strani -->
    <li class="menu-item home-item"><a routerLink="/home">Home</a></li>
    <li *ngIf="!isAdminPage"  class="menu-item"><a routerLink="/blogs">Blogs</a></li> <!-- Ovdje nema uslova, uvijek je prisutno -->
    <li *ngIf="!isAdminPage" class="menu-item"><a routerLink="/products">Products</a></li>
    <!-- Administracija na desnoj strani, prikazuje se samo kad niste na administrativnoj stranici -->
    <li *ngIf="!isAdminPage" class="menu-item"><a routerLink="/administration">Administration</a></li>
  </ul>

  <!-- Administrativni meni koji je prikazan kad ste na administrativnoj stranici -->
  <div *ngIf="isAdminPage" class="admin-menu">
    <ul class="admin-submenu">
      <li class="submenu-item"><a routerLink="/administration/admin/blog-posts">Blogs</a></li>
      <li class="submenu-item"><a routerLink="/administration/admin/discount">Discounts</a></li>
      <!-- dodajte ostale opcije administracije -->
    </ul>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
