<nav class="navbar">
  <ul class="main-menu">
    <li class="menu-item home-item"><a routerLink="/home">Home</a></li>
    <li *ngIf="!isAdminPage" class="menu-item"><a routerLink="/blogs">Blogs</a></li>
    <li *ngIf="!isAdminPage" class="menu-item">
      <a routerLink="/products">Products</a>
    </li>
    
   
    <li class="menu-item login-button-item " *ngIf="!authService.isLoggedIn()">
      <button (click)="goToLogin()">Login</button>
    </li>
    <li class="menu-item logout-button-item " *ngIf="isUserLoggedIn">
      <button (click)="onLogout()">Odjavi se</button>
    </li>
   <li class="menu-item cart-button-item push-right-desno" >
  <button (click)="toggleCart()">Cart</button>
   <cart-sidebar *ngIf="isCartOpen" class="cart-dropdown"></cart-sidebar>
</li>
<!--
<cart-sidebar
  *ngIf="isCartOpen"
  (closeSidebar)="closeCart()">
</cart-sidebar>
-->
    <li *ngIf="!isAdminPage"  class="menu-item"><a routerLink="/blogs">Blogs</a></li> <!-- Ovdje nema uslova, uvijek je prisutno -->
 
    <!-- Administracija na desnoj strani, prikazuje se samo kad niste na administrativnoj stranici -->
    <li *ngIf="!isAdminPage" class="menu-item"><a routerLink="/administration">Administration</a></li>
  </ul>



  <div *ngIf="isAdminPage" class="admin-menu">
    <ul class="admin-submenu">
      <li class="submenu-item"><a routerLink="/administration/admin/blog-posts">Blogs</a></li>
      <li class="submenu-item"><a routerLink="/administration/admin/discount">Discounts</a></li>
      <!-- dodajte ostale opcije administracije -->
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>